

<p-card header="Project">
    <p class="m-0">
        <p-dropdown [options]="myProjects" optionLabel="name" placeholder="Select a project" (onChange)="onProjectChange($event)"></p-dropdown>
    </p>

    <br>
    <!-- <h3 class="m-0">
        Boards
    </h3> -->

    <div class="card">
        <h5>Boards</h5>
        <p-dataView #dv [value]="boards" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
            <ng-template pTemplate="header">
                <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
                    <!-- <p-dropdown [options]="sortOptions" placeholder="Sort By Price" (onChange)="onSortChange($event)"></p-dropdown> -->
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="search" pInputText placeholder="Search by Name" (input)="onFilter(dv, $event)">
                    </span>	
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </ng-template>

            <ng-template let-board pTemplate="listItem">
                <div class="col-12">
                    <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                        <div class="flex-1 flex flex-column align-items-center text-center md:text-left">
                            <div class="font-bold text-2xl">{{board.name}}</div>
                            <div class="mb-2">OPIS</div>
                            <p-rating [ngModel]="4" [readonly]="true" [cancel]="false" styleClass="mb-2"></p-rating>
                            <div class="flex align-items-center mt-2">
                                <i class="pi pi-tag mr-2"></i>
                                <span class="font-semibold">KATEGORIJA</span>
                            </div>
                        </div>
                        <div class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end mt-5 md:mt-0">
                            <span class="text-2xl font-semibold mb-2 align-self-center md:align-self-end">$1234</span>
                            <p-button icon="pi pi-shopping-cart" label="Add to Cart" styleClass="mb-2 p-button-sm"></p-button>
                            <span [class]="'product-badge'">STATUS</span>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template let-board pTemplate="gridItem">
                <div class="col-12 md:col-4">
                    <div class="card m-3 border-1 surface-border cursor" (click)="openBoardDetails(board.id)">
                        <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
                            <div class="flex align-items-center">
                                <!-- <i class="pi pi-tag mr-2"></i> -->
                                <!-- <span class="font-semibold">KATEGORIJA</span> -->
                            </div>
                            <!-- <span [class]="'board-badge'">STATUS</span> -->
                        </div>
                        <div class="flex flex-column align-items-center text-center mb-3">
                            <div class="text-2xl font-bold">{{board.name}}</div>
                            <div class="mb-3">OPIS</div>
                            <p-rating [ngModel]="4" [readonly]="true" [cancel]="false"></p-rating>
                        </div>
                        <div class="flex align-items-center justify-content-between">
                            <span class="text-2xl font-semibold">Members: 5 </span>
                            <span class="text-2xl font-semibold">Tasks: 10 </span>
                            <!-- <p-button icon="pi pi-shopping-cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button> -->
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>

</p-card>